<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AWSHorseRace</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>horserace</display-name>
    <servlet-name>HorseRaceAPI</servlet-name>
    <servlet-class>com.sullhouse.horserace.HorseRaceAPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HorseRaceAPI</servlet-name>
    <url-pattern>/horserace/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>player</display-name>
    <servlet-name>PlayerAPI</servlet-name>
    <servlet-class>com.sullhouse.gambol.PlayerAPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlayerAPI</servlet-name>
    <url-pattern>/player/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>playerbet</display-name>
    <servlet-name>PlayerBetAPI</servlet-name>
    <servlet-class>com.sullhouse.gambol.PlayerBetAPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlayerBetAPI</servlet-name>
    <url-pattern>/playerbet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JoinHorseRaceAPI</display-name>
    <servlet-name>JoinHorseRaceAPI</servlet-name>
    <servlet-class>com.sullhouse.gambol.JoinHorseRaceAPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinHorseRaceAPI</servlet-name>
    <url-pattern>/joinhorserace</url-pattern>
  </servlet-mapping>
</web-app>